<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jjsp</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>output.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>addservlets</servlet-name>
  <servlet-class>com.aris.AddServelets</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>addservlets</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
</web-app>